@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>политика.</p>

<pre style="font-family: monospace; font-size: 10px; color: #6a0dad;">
        /\_/\ 
       ( o.o ) 
        > ^ < 
       /     \ 
      |       | 
       \_____/ 
        |   | 
</pre>